body{
    margin:0;
    font-family: roboto mono;
    background:#F9F9F9;
    /* background:#F9F9F9; */
}


header{
    font-family: roboto mono;
    font-weight:300;
    width: 100%;
    height: 72px;
    background:#eeeeee;
    box-shadow: 5px 0px 5px rgb(218, 215, 215);
    /* z-index: 1; */
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    height: 200px;
}
.anna{
 display: block;
 width: 60%;
 margin-left: 24px;

}
.logo{

    display: flex;
    position: relative;
    float: left;
    /* margin-left: 10px; */
    margin-top: 20px;
    /* padding: 10px; */
    /* border: 1px solid chartreuse; */
    /* /* margin-left: 24px; */
    /* margin-top: 10px;
    margin-bottom: 10px; */ */
    /* margin-top: 20px; */
    /* float: left; */
    /* position: relative; */
   

    
}

.joy{
    padding-left: 20px;
   width: 200px;
    margin-left: 50px;
 
}

.typing{
   margin-left: 80px;
   
}
.intro{

    color: rgb(0, 0, 0);
    /* margin: 10px; */
    /* position: absolute; */
    font-size:16;
    font-weight: 400;
    font-style: italic;

width: 42ch;
  animation: typing 3s steps(42), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;

}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }

}


nav a{
display:block;
   text-decoration: none;
   color: rgb(117, 112, 112);
   font-size: 16px;
   font-weight: 400;
    margin: 0 40px ;

    float: right;
    position: relative;
    top: 160px;
    right: 50px;
   
}

nav a:hover{
    color: rgb(252, 24, 119);
}






.content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 100px;
    grid-template-areas: 
    /* "header header header header header" */
    "nav nav nav nav nav" 
    /* "section section section section section" */
   
    "main main main main main "
    "main main main main main "
    "main main main main main "
    "main main main main main "
    "main main main main main "
    "footer footer footer footer footer"

}
.content>*{
    background:#F9F9F9;
    margin: 0;
}

.section{
    grid-area: section;
  
  
}

.main{
    grid-area: main;
    /* border: 1px solid black; */
   
}


#blocks{
    margin: 40px;
  
  }
article{
  background:#F9F9F9;
  margin-bottom: 100px;
  /* padding: 10px; */
  box-sizing: border-box;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(224, 224, 224);
  overflow: hidden;
 
}
.project1{
    background:#F9F9F9;
    

}
.click{
    display: none;
}

.project2{
background: #F9F9F9;
}
.project3{
background:#F9F9F9;
}

article h2{
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}

img{
    max-width: 100%;
    max-height: 100%;
    /* border-radius: 5px; */
    margin: auto;
    display: block;
    background-size: cover;

}
article h2{
    font-weight: 400;
    color: rgb(49, 124, 53);
    position:relative;
    top: 10px;
}



@media screen and (min-width: 1030px){


    header{
          position: fixed;
          top: 0;
          left: 0;
          height: 100px;

    }

    nav a {
        margin: 0 30px ;
        position: relative;
        top: 40px;
       
    }
    .anna{
        display: flex;
        width: 20%;
    }
    .logo{
      margin-left: 20px;
      margin-top: 20px;
margin-top: 10px;

    }

    .joy{
        margin-left: 20px;
    }

    .typing{
        /* height: 100vh; */
        margin-left: 0;

        display: flex;
        padding-left: 10px;
      
     
       
    }
    .intro{
       /* display: inline; */
       top: 10px;
        color: rgb(3, 3, 3);
       
      
        font-size:20px;
        font-weight: 400;
        font-style: italic;
    
    width: 42ch;
      animation: typing 3s steps(42), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
    
    }
    @keyframes typing {
        from {
          width: 0
        }
      }
          
      @keyframes blink {
        50% {
          border-color: transparent
        }
    
    }
   

    
    #blocks{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      justify-content: center;
      gap: 25px;
      margin: 50px;
    }

    .project{
        overflow: hidden;

    }

    article{
      flex: 0 1 32%;
      width: auto;
      height: 100%;
      
     
    }
    .click{
       display: block;
      
    }
    .pdf{
        display: none;
    }
    



 
