body{
    margin:0;
    font-family: roboto mono;
    background:#F9F9F9;
}

header{
    font-family: roboto mono;
    font-weight:300;
    width: 100%;
    height: 72px;
    background:#eeeeee;
    box-shadow: 5px 0px 5px rgb(218, 215, 215);
    height: 200px;
}
.anna{
 display: block;
 margin-left: 10px;

}
.logo{
    display: flex;
    position: relative;
    float: left;
    top: 10px;
 
}

.joy{
    padding-left: 20px;
    width: 200px;
    margin-left: 50px;
 
}

.typing{
   margin-left: 15px;
}
.intro{

    color: rgb(0, 0, 0);
    /* margin: 10px; */
    /* position: absolute; */
    font-size: 13px;
    font-weight: 400;
    font-style: italic;

width: 42ch;
  animation: typing 3s steps(42), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;

}
@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }

}


nav a{
display:block;
   text-decoration: none;
   color: rgb(117, 112, 112);
   font-size: 14px;
   font-weight: 400;
    margin: 0 20px ;

    float: right;
    position: relative;
    top: 160px;
    right: 25px;
   
}

nav a:hover{
    color: rgb(252, 24, 119);
}


.content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 50px;
    grid-template-areas: 
    /* "header header header header header" */
    /* "nav nav nav nav nav"  */
    /* "section section section section section" */
   
    "main main main main main "
    "main main main main main "
    "main main main main main "
    "main main main main main "
    "main main main main main "
    "footer footer footer footer footer"

}
.content>*{
    background:#F9F9F9;
    margin: 0;
}

.section{
    grid-area: section;
  
}

.main{
    grid-area: main;
    width: auto;
  
}

#blocks{
    margin: 20px;
  
  }
article{
  background:#F9F9F9;
  margin-bottom: 50px;
  box-sizing: border-box;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgb(224, 224, 224);
  overflow: hidden;
}

.click{
    display: none;
}

article h2{
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}

img{
    max-width: 100%;
    max-height: 100%;
    /* border-radius: 5px; */
    margin: auto;
    display: block;
    background-size: cover;

}
article h2{
    font-weight: 400;
    color: rgb(49, 124, 53);
    position:relative;
    top: 10px;
}



@media screen and (min-width: 700px){

 

    header{
          position: fixed;
          top: 0;
          left: 0;
          height: 110px;

    }

    nav a {
        margin: 0 30px ;
        position: relative;
        top: 60px;
       
    }
    .anna{
        display: flex;
        width: 20%;
    }
    .logo{
      position: absolute;
      top: 20px;
      margin-left: 20px;
     


    }

    .joy{
        margin-left: 80px;
    }

    .typing{
        /* height: 100vh; */
        margin-left: 0;

        display: flex;
        padding-left: 10px;
      
     
       
    }
    .intro{
       /* display: inline; */
       top: 10px;
        color: rgb(3, 3, 3);
       
      
        font-size:20px;
        font-weight: 400;
        font-style: italic;
    
    width: 42ch;
      animation: typing 3s steps(42), blink .5s step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
    
    }
    @keyframes typing {
        from {
          width: 0
        }
      }
          
      @keyframes blink {
        50% {
          border-color: transparent
        }
    
    }
   
    .content{
      display: grid;
      grid-template-columns: repeat(5,1fr);
      grid-auto-rows: minmax(50px, auto);
      grid-gap: 50px;
      grid-template-areas: 
      /* "header header header header header" */
      "nav nav nav nav nav" 
      /* "section section section section section" */
     
      "main main main main main "
      "main main main main main "
      "main main main main main "
      "main main main main main "
      "main main main main main "
      "footer footer footer footer footer"
  
  }
    
    #blocks{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      justify-content: center;
      gap: 20px;
      margin: 50px;
     
    }

    .project{
        overflow: hidden;

    }

    article{
      flex: 0 1 32%;
      width: auto;
      height: 100%;

    }
    .click{
       display: block;
      
    }
    .pdf{
        display: none;
    }
    